@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Noto Sans TC";
  src: url("/fonts/NotoSansTC.woff2") format("woff2");
}
@font-face {
  font-family: "Noto Sans Mono";
  src: url("/fonts/NotoSansMono.woff2") format("woff2");
}

:root {
  font-family: 'Noto Sans TC';


}

.noto-mono {
  font-family: 'Noto Sans Mono';
}
html {
  color-scheme: light;
}

html { overflow: -moz-scrollbars-vertical; overflow-y: scroll; }